{% for message in messages %}
    {% if message.sender == app.user.pseudo %}
    <span class="message-moi"><strong>Vous :</strong> {{ message.contenu }}</span><br>
    {% else %}
    <span class="message-adv"><strong>{{ message.sender }} :</strong> {{ message.contenu }}</span><br>
        {% endif %}

{% endfor %}