footer{
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    margin: 0;
    padding: 0;
}

#footer1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}
#footer_agence img{
    height: 150px;
}
#footer_jeu img{
    height: 150px;
}
#footer_liens a{
    color: white;
    text-decoration: none;
}
#footer_liens a:hover{
    text-decoration: underline;
}

#footer2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#footer2 p{
    color: white;
}

#footer2 span{
    width: 50%;
    height: 2px;
    background-color: white;
}

#poli, #cgu{
    background-image: url("../img/feuillage_1.png");
    background-size: 100%;
    background-attachment: fixed;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
#poli_text, #cgu_text{
    width: 80%;
    background-color: rgba(0,0,0,0.5);
    margin-top: 100px;
    margin-bottom: 100px;
    color: white;
    padding: 25px;
    border-radius: 20px;
}
#poli_text h2, #cgu_text h2{
    color: gold;
}
#poli_text h1, #cgu_text h1{
    color: gold;
    font-family: 'aventura';
    text-align: center;
}