@font-face {
    font-family: "aventura";
    src: url('../typo/Aventura-Bold.otf');
}

#inscription{
    width: 100%;
    background-image: url('../img/feuillage_1.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    font-family: 'Arial', sans-serif;
}

#form_inscription{
    background-color: white;
    width: 75%;
    height: auto;
    padding: 35px;
    margin-top: 150px;
    margin-bottom: 150px;
    border-radius: 50px;
}
#form_inscription h1{
    color: gold;
    font-family: 'aventura';
}

#formulaire{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#formulaire .formulaire_div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
#form_nom, #form_birth, #form_prenom, #form_conf_password, #form_password, #form_pseudo, #form_email{
    border: solid 2px #595959;
    border-radius: 25px;
    width: 45%;
    height: 40px;
    margin: 10px;
}

#valid_form_inscriptions{
    align-items: center;
    width: 25%;
    background-color: #595959;
    color: gold;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 50px;
    height: 50px;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    font-family: 'aventura';
    cursor: pointer;
}

#lien-avatars{
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    color: gold;
    font-family: 'aventura';
}
#avatars{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    border: solid 2px gold;
    border-radius: 15px;
    padding: 15px;
}

#div-conditions{
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
    margin-bottom: 20px;
}
#error_inscription{
    text-align: center;
    color: #f4d329;
    text-decoration: underline;
}
/*MODIFS PAR RAPH*/
#avatars img{
    transition: all 0.2s ease;
    cursor: pointer;
}
#avatars img:hover{
    transform: scale(1.05);
}