{% extends 'base.html.twig' %}

{% block title %}The Toria's League{% endblock %}

{% block body %}
    <section id="home">
        <div id="home_fond"><img src="img/illu_accueil_jeu2.png">
            <div id="home_connexion">
                <button id="home_inscription"><a href="{{ path('inscription') }}">INSCRIPTION</a></button>
                <button id="connexion"><a href="{{ path('app_login') }}">CONNEXION</a></button>
            </div>
        </div>
    </section>
    <section id="home_prez">
        <div id="prez">
            <h1>| PRESENTATION</h1>
            <p>Suite à la disparition de son fabuleux trésor, la ville de Toria recherche de l'aide...</p>
            <p>Aventurier en quête de gloire et de richesses, vous décidez d'accepter la quête offerte par la ville et de vous rendre dans le Donjon Noir afin de
                rapporter le trésor de Toria.</p>
            <p>Malheureusement, dans votre recherche de mercenaires, un autre aventurier vous met des bâtons dans les roues en cherchant à recruter les mêmes
                professionnels que vous.</p>
            <p>Dans un duel au tour par tour, vous devrez amasser de l'équipement afin d'obtenir les faveurs du plus de mercenaires possible.</p>
        </div>
        <div id="home_info">
            <div>
                <img src="img/people.png">
                <p>2 joueurs</p>
            </div>
            <div>
                <img src="img/timer.png">
                <p>20 minutes</p>
            </div>
            <p>13 ans et plus</p>
        </div>
        <div id="home_video">
            <iframe width="80%" height="700px" src="https://www.youtube.com/embed/4VJT2cR5Im8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <br>
        <p style="text-align: center; background-color: rgba(0, 0, 0, 0.8); padding: 10px; border-radius: 5px"><a href=" https://www.flipsnack.com/7B79F55569B/r-gles-de-the-toria-s-league.html" style="color: gold; font-family: aventura; font-size: 20px">LIVRET DE REGLES</a></p>
    </section>
{% endblock %}
