<h3>Résultats</h3>
{{ render(controller('App\\Controller\\GameController::refreshResultats', {game:game.id})) }}
<a href="{{ path('next_round', {game:game.id}) }}" style="color: white">Passer au round suivant</a>
<a href="{{ path('user_profil') }}" style="color: white">Retour sur votre profil</a>