<link rel="stylesheet" href="{{ asset('css/resultats.css') }}">

{{ render(controller('App\\Controller\\GameController::refreshResultats', {game:game.id})) }}
{# <a href=" {{ path('next_round', {game:game.id}) }}" style="color: white">Passer au round suivant</a>#}




