
{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    <form method="post" action="{{ path('verify_inscription') }}" style="margin-left: 5%" >
        <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
        Prénom <input type="text" name="prenom" required><br><br>
        Nom <input type="text" name="nom" required><br><br>
        Email <input type="email" name="email" required><br><br>
        Pseudo <input type="text" name="pseudo" required><br><br>
        Date de naissance <input type="date" name="birthday" required><br><br>
        Mot de passe <input type="password" name="mdp" required><br><br>
        <input type="submit" value="S'inscrire">
    </form>
    {% if erreur  %}
        <p>{{ erreur }}</p>
    {% endif %}
{% endblock %}