
{% extends 'base.html.twig' %}




{% block title %}Inscription{% endblock %}

{% block body %}

    <div id="inscription">
        <div id="form_inscription">
            <h1>| INSCRIPTION</h1>
            <form id="formulaire" method="POST" action="{{ path('verify_inscription') }}">
                <div class="formulaire_div">
                    <input type="text" name="prenom" id="form_prenom" placeholder="Prénom" required>
                    <input type="text" name="nom" id="form_nom" placeholder="Nom" required>
                </div>
                <div>
                    <label for="form_birth">Date de naissance :</label>
                    <input type="date" name="birthday" id="form_birth" required>
                </div>
                <div class="formulaire_div">
                    <input type="email" name="email" id="form_email" placeholder="Adresse e-mail" required>
                    <input type="text" name="pseudo" id="form_pseudo" placeholder="Pseudo" required>
                </div>
                <div class="formulaire_div">
                    <input type="password" name="mdp" id="form_password" placeholder="Mot de passe" required>
                    <input type="password" name="conf_password" id="form_conf_password" placeholder="Confirmation du mot de passe">

                </div>

                <span id="lien-avatars" style="cursor: pointer; font-weight: bold">AVATAR</span>
                <div id="avatars">
                    <input type="radio" name="photo" value="tharuk" id="tharuk"><img id="img-tharuk" src="img/avatars/tharuk.png" alt="tharuk" style="width: 100px">
                    <input type="radio" name="photo" value="sofia" id="sofia"><img id="img-sofia" src="img/avatars/sofia.png" alt="sofia" style="width: 100px">
                    <input type="radio" name="photo" value="astralia" id="astralia"><img id="img-astralia" src="img/avatars/astralia.png" alt="astralia" style="width: 100px">
                    <input type="radio" name="photo" value="rasdar" id="rasdar"><img id="img-rasdar" src="img/avatars/rasdar.png" alt="rasdar" style="width: 100px">
                    <input type="radio" name="photo" value="krulmo" id="krulmo"><img id="img-krulmo" src="img/avatars/krulmo.png" alt="krulmo" style="width: 100px">
                    <input type="radio" name="photo" value="arcadia" id="arcadia"><img id="img-arcadia" src="img/avatars/arcadia.png" alt="arcadia" style="width: 100px">
                    <input type="radio" name="photo" value="ganormo" id="ganormo"><img id="img-ganormo" src="img/avatars/ganormo.png" alt="ganormo" style="width: 100px">
                    <span id="fermer" style="cursor: pointer; font-weight: bold">Valider</span>
                </div>
                <div id="div-conditions">
                    <input type="checkbox" name="checkbox" id="checkbox" required><label for="checkbox">&nbsp;J'accepte les termes et les conditions générales d'utilisation de ce site.</label>
                </div>

                <input type="submit" id="valid_form_inscriptions" value="INSCRIPTION">
                <input type="hidden" id="recaptchaResponse" name="recaptcha-response">
            </form>
            {% if erreur is defined %}
            <p id="error_inscription">{{erreur}}</p>
            {% endif %}
        </div>
    </div>


{% endblock %}

{% block javascripts %}

    <script src="https://www.google.com/recaptcha/api.js?render=6LdZBJAaAAAAAAWlTDjSs4ZlfPLw7mQf0MYK_U1x"></script>
    <script type="text/javascript">
        grecaptcha.ready(function(){
            grecaptcha.execute('6LdZBJAaAAAAAAWlTDjSs4ZlfPLw7mQf0MYK_U1x', {action: 'homepage'}).then(function(token){

                document.getElementById("recaptchaResponse").value = token

            });
        });

        $(document).ready(function(){
            $('#avatars').hide();
            $('#lien-avatars').click(function(){
                $('#avatars').show();
            })

            $('#fermer').click(function(){
                $('#avatars').hide();
            })


            $('input[type="radio"]').hide()
            //console.log('ho')
            $('#img-tharuk').click(function(){

                document.getElementById('tharuk').checked=true;
                $('#avatars img').css('transform', 'scale(1)')
                $('#img-tharuk').css('transform', 'scale(1.2)')
            })
            $('#img-sofia').click(function(){

                document.getElementById('sofia').checked=true;
                $('#avatars img').css('transform', 'scale(1)')
                $('#img-sofia').css('transform', 'scale(1.2)')
            })
            $('#img-ganormo').click(function(){

                document.getElementById('ganormo').checked=true;
                $('#avatars img').css('transform', 'scale(1)')
                $('#img-ganormo').css('transform', 'scale(1.2)')
            })

            $('#img-astralia').click(function(){

                document.getElementById('astralia').checked=true;
                $('#avatars img').css('transform', 'scale(1)')
                $('#img-astralia').css('transform', 'scale(1.2)')
            })

            $('#img-krulmo').click(function(){

                document.getElementById('krulmo').checked=true;
                $('#avatars img').css('transform', 'scale(1)')
                $('#img-krulmo').css('transform', 'scale(1.2)')
            })

            $('#img-rasdar').click(function(){

                document.getElementById('rasdar').checked=true;
                $('#avatars img').css('transform', 'scale(1)')
                $('#img-rasdar').css('transform', 'scale(1.2)')
            })

            $('#img-arcadia').click(function(){

                document.getElementById('arcadia').checked=true;
                $('#avatars img').css('transform', 'scale(1)')
                $('#img-arcadia').css('transform', 'scale(1.2)')
            })


            /*if($('#tharuk').is(':checked'))
            {
                $('#img-tharuk').css('transform', 'scale(1.2)');
            }else{
                $('#img-tharuk').css('transform', 'scale(1)');
            }*/

        })



    </script>


{% endblock %}