
{% extends 'base.html.twig' %}
{% block javascripts %}

    <script src="https://www.google.com/recaptcha/api.js?render=6LdZBJAaAAAAAAWlTDjSs4ZlfPLw7mQf0MYK_U1x"></script>
    <script type="text/javascript">
        grecaptcha.ready(function(){
            grecaptcha.execute('6LdZBJAaAAAAAAWlTDjSs4ZlfPLw7mQf0MYK_U1x', {action: 'homepage'}).then(function(token){

                document.getElementById("recaptchaResponse").value = token

            });
        });
    </script>


{% endblock %}
{% block title %}Inscription{% endblock %}

{% block body %}

    <form method="post" action="{{ path('verify_inscription') }}" style="margin-left: 5%" >
        <h1 class="h3 mb-3 font-weight-normal">Inscription</h1>
        Prénom <input type="text" name="prenom" required><br><br>
        Nom <input type="text" name="nom" required><br><br>
        Email <input type="email" name="email" required><br><br>
        Pseudo <input type="text" name="pseudo" required><br><br>
        Date de naissance <input type="date" name="birthday" required><br><br>
        Mot de passe <input type="password" name="mdp" required><br><br>
        <input type="submit" value="S'inscrire">
        <input type="hidden" id="recaptchaResponse" name="recaptcha-response">
    </form>
    {% if erreur  %}
        <p>{{ erreur }}</p>
    {% endif %}
{% endblock %}