{% extends 'base.html.twig' %}

{% block title %}Admin - Statistiques{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.0.1/chart.min.js"></script>

{% endblock %}

{% block body %}
    <link rel="stylesheet" href="{{ asset('css/statistiques.css') }}">

        <h1>STATISTIQUES</h1>
    <div id="statistiques-parties">
        <div id="cont-graph1">
            <canvas id="graph1">

            </canvas>
        </div>
        <div id="cont-graph2">
            <canvas id="graph2">

            </canvas>
        </div>


    </div>

    <script>

        Chart.defaults.color = '#FFFFFF'

        console.log({{ datas }})



            var context = document.getElementById('graph1').getContext('2d')
            var context2 = document.getElementById('graph2').getContext('2d')

            var mesDatas = {{ datas }}
            var data= {
                labels: ['Victoire par Mercenaires', 'Victoire par Points de Force'],
                datasets: [
                    {
                        data: mesDatas,//recuperer en json
                        backgroundColor : [
                            '#FB0C00',
                            '#00D500'


                        ],
                    },

                ]
            };


            var options= [];


            var config = {
                type : 'pie',
                data: data,
                options: options,

            }

        var config2 = {
            type : 'pie',
            data: data,
            options: options,

        }
            var graph1 = new Chart(context, config)
            var graph2 = new Chart(context2, config2)





    </script>

{% endblock %}


