{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Bonjour {{ user.firstName }}</h1>
    Vous trouverez ici vos informations personnelles et l'historique de vos parties.
    <h2><a href="{{ path('new_game') }}">Lancer une partie !</a></h2>
    <a href="{{ path('default') }}">Retour à l'accueil</a>
    <a href="{{ path('app_logout') }}">Déconnexion</a>
{% endblock %}
