{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Bonjour {{ user.firstName }}</h1>
    Vous trouverez ici vos informations personnelles et l'historique de vos parties. <br><br>
    <!-- affichage des parties en attente-->


        {% for game in empty_games|filter(game => game.user1.elo == 1000) %}
            <span>Une game vide créée par {{ game.user1.pseudo }} </span><a href="{{ path('join_game', {game : game.id}) }}">Rejoindre</a><br>
        {% endfor %}



    <h2><a href="{{ path('new_game') }}">Créer une partie !</a></h2>
    <h2><a href="">Profil et statistiques</a></h2>


{% endblock %}
