{% extends 'base.html.twig' %}

{% block title %}Profil{% endblock %}

{% block body %}
    <h1>Informations personnelles et statistiques</h1>
    Vous trouverez ici vos informations personnelles et l'historique de vos parties. <br><br>
    <!-- affichage des parties en attente-->



{% endblock %}
